@model Models.Quotes
@{
    ViewData["Title"] = "Contact";
}
<script>
 
</script>


<h3>Create Quote</h3>

<form asp-controller="Home" asp-action="Contact"  method="post">

    <!--<div asp-validation-summary="All"></div>-->
    <div class="form-group">
        <label asp-for="Quote"></label>
        <input asp-for="Quote" /><br />
        <span asp-validation-for="Quote"></span>
    </div>
    <div class="form-group">
        <label asp-for="Credit"></label>
        <input asp-for="Credit" /><br />
        <span asp-validation-for="Credit"></span>
    </div>

    <input type="submit" value="Add Quote"></input>
</form>


