@model Models.Quotes
@{
    ViewData["Title"] = "Contact";
}
<h3>Create Quote</h3>

<form method="post">
    <label asp-for="Quote"></label>
    <input asp-for="Quote" /><br />
    <label asp-for="Credit"></label>
    <input asp-for="Credit" /><br />
    <button type="submit">Post</button>
</form>
