
@model IEnumerable<Models.Quotes>
@{
    ViewBag.Title = "Quotes";
}
<h3>Great Quotes</h3>
<ul>
    @foreach (var quote in Model)
    {
        <li>@quote.Quote</li>
    }
</ul>


<div id="frontrow" >
    
</div>

