@model IEnumerable<Conference.Models.Quotes>
@{
    ViewData["Title"] = "Home Page";
}

<h3>Great Quotes</h3>
<ul>
    @foreach (var quote in Model)
    {
        <li>@quote.Credit - @quote.Quote </li>
    }
</ul>

<div id="frontrow" >
    
</div>

